[Unit]
Description = node-bmw client daemon

After = network.target bmwi@can0.service bmwi@can1.service bmwi@ibus.service bmwi@kbus.service bmwi@lcd.service

Before = kodi.service nginx.service

Requires = network.target


[Service]
CPUAffinity = 0

WorkingDirectory = /usr/local/bmwcd

Nice           = -5
OOMScoreAdjust = -1000

Environment = NODE_ENV=production
Environment = NODE_PATH=/usr/local/bmwcd/lib:/usr/local/bmwcd/modules:/usr/local/bmwcd/share:/usr/local/bmwcd/node_modules:/usr/lib/node_modules

ExecStart = /usr/bin/env node --throw-deprecation --trace-warnings --preserve-symlinks /usr/local/bmwcd/main.js

Restart    = always
RestartSec = 5


[Install]
WantedBy = multi-user.target


# vim: set syntax=systemd filetype=systemd ts=2 sw=2 tw=0 noet :
