[Unit]
Description = node-bmw client daemon

After    = network.target
Requires = network.target


[Service]
WorkingDirectory = /usr/local/bmwcd

Group = pi
User  = pi

Nice           = -19
OOMScoreAdjust = -1000

Environment = NODE_ENV=production
Environment = NODE_PATH=/usr/local/bmwcd/lib:/usr/local/bmwcd/modules:/usr/local/bmwcd/share:/usr/local/bmwcd/node_modules:/usr/lib/node_modules

ExecStart = /usr/bin/env node --throw-deprecation --trace-warnings --preserve-symlinks /usr/local/bmwcd/main.js
Restart   = always


[Install]
WantedBy = multi-user.target


# vim: set syntax=systemd filetype=systemd ts=2 sw=2 tw=0 noet :
