[Unit]
Description = node-bmw client daemon

After = bmwi@can0.service bmwi@can1.service bmwi@ibus.service bmwi@kbus.service bmwi@dbus.service bmwi@lcd.service cangw-setup.service

# If installed in CAN-only vehicle
# Requires = cangw-setup.service


[Service]
WorkingDirectory = /usr/local/bmwcd

Environment = NODE_ENV=production
Environment = NODE_PATH=/usr/local/bmwcd/lib:/usr/local/bmwcd/modules:/usr/local/bmwcd/share:/usr/local/bmwcd/node_modules:/usr/lib/node_modules

ExecStart = /usr/bin/env node --arm-arch=armv8 --always-compact --always-osr --expose-gc --throw-deprecation --trace-warnings /usr/local/bmwcd/main.js

Restart    = always
RestartSec = 5


[Install]
WantedBy = multi-user.target


# vim: set syntax=systemd filetype=systemd ts=2 sw=2 tw=0 noet :
