[Unit]
Description = node-bmw %i daemon

After  = network.target
Before = bmwcd.service


[Service]
CPUAffinity = 1-2

WorkingDirectory = /usr/local/bmwi

Nice           = -3
OOMScoreAdjust = -1000

Environment = NODE_ENV=production
Environment = NODE_PATH=/usr/local/bmwi/lib:/usr/local/bmwi/modules:/usr/local/bmwi/share:/usr/local/bmwi/node_modules:/usr/lib/node_modules

ExecStart = /usr/bin/env node --expose-gc --throw-deprecation --trace-warnings /usr/local/bmwi/main.js %i

Restart    = always
RestartSec = 1


[Install]
WantedBy = multi-user.target


# vim: set syntax=systemd filetype=systemd ts=2 sw=2 tw=0 noet :
