[Unit]
Description = node-bmw %i daemon

After  = network.target
Before = bmwcd.service


[Service]
CPUAffinity = 1-2

WorkingDirectory = /usr/local/bmwi

Nice           = -3
OOMScoreAdjust = -1000

Environment = NODE_ENV=production
Environment = NODE_PATH=/usr/local/bmwi/lib:/usr/local/bmwi/modules:/usr/local/bmwi/share:/usr/local/bmwi/node_modules:/usr/lib/node_modules

ExecStart = /usr/bin/env node --always-compact --always-opt --always-osr --arm-arch=armv8 --compact-code-space --compilation-cache --expose-gc --gc-global --gc-interval=5 --max-old-space-size=64 --max-semi-space-size=2 --mcpu --memory-reducer --throw-deprecation --trace-warnings /usr/local/bmwi/main.js %i

Restart    = always
RestartSec = 3


[Install]
WantedBy = multi-user.target


# vim: set syntax=systemd filetype=systemd ts=2 sw=2 tw=0 noet :
