[Unit]
Description = CANBUS bridge with VIN filter, can0 to can1

After    = network.target
Requires = network.target


[Service]
CPUAffinity = 2

Nice           = -5
OOMScoreAdjust = -1000

ExecStart = /usr/bin/candump -B can1 -s 2 can0,380~7FF

Restart    = always
RestartSec = 1


[Install]
WantedBy = multi-user.target


# vim: set syntax=systemd filetype=systemd ts=2 sw=2 tw=0 noet :
