[Unit]
Description = CAN gateway setup

After = sys-subsystem-net-devices-can0.device sys-subsystem-net-devices-can1.device

Requires = sys-subsystem-net-devices-can0.device sys-subsystem-net-devices-can1.device

Before     = bmwi@can0.service bmwi@can1.service bmwcd.service
RequiredBy = bmwi@can0.service bmwi@can1.service bmwcd.service


[Service]
Type = oneshot

ExecStart = /bin/bash /usr/local/bin/cangw-setup

RemainAfterExit = true


[Install]
WantedBy = multi-user.target


# vim: set syntax=systemd filetype=systemd ts=2 sw=2 tw=0 noet :
